body {
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    padding-bottom: 20px;
}

/* All selectors style */
p {
    margin: 0;
}
.clear {
    clear: both;
}
/* END all selectors style */

.container {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.container .widget-box {
    width: calc(25% - 10px);
    border: 1px solid#D6DAE4;
    background-color: #ffffff;
    padding: 15px;
    cursor: pointer;
    margin: 5px;
    float: left;
}

.container .widget-box:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    transition: 0.2s;
}

.container .widget-box .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container .widget-box img.profile-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.container .widget-box .info div {
    width: calc(100% - 106px);
    margin-left: 5px;
    margin-right: 5px;
}

.container .widget-box .info div p {
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 600;
}

.container .widget-box .info div small {
    font-size: 12px;
    color: #9CA0AC;
}

.container .widget-box img.social-icon {
    width: 30px;
    margin-left: 5px;
}

.container .widget-box .box-img img {
    width: 100%;
    margin: 15px 0px;
    height: 250px;
}

.container .widget-box .box-caption .caption {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    height: 54px;
}

.container .widget-box hr {
    border-color: rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .widget-box div span.heart {
    font-size: 16px;
}

/* BUTTON LOAD MORE */

.box-button {
    text-align: center;
    margin: 30px;
}

.box-button #btn-load-more {
    padding: 10px;
    color: white;
    background: #0081ff;
    border: 1px solid #0081ff;
    border-radius: 4px;
    cursor: pointer;
}

.box-button #btn-load-more.disable-button {
    display: none;
}

.box-button #btn-load-more:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.box-button #btn-load-more:focus {
    outline: none;
}

/* MODAL STYLE */ 

.modal-widget-container {
    display: flex;
    position: fixed;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid#D6DAE4;;
    padding: 15px;
}

.modal-widget-container .modal-img {
    margin-right: 5px;
    width: 100%;
}

.modal-widget-container .modal-img img{
    width: 300px;
    height: 300px;
}

.modal-widget-container .modal-info {
    margin-left: 5px;
}

.modal-widget-container .modal-info p.name {
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 600;
}

.modal-widget-container .modal-info p.caption {
    /* margin-bottom: 200px; */
}

.modal-widget-container .modal-info small {
    font-size: 12px;
    color: #9CA0AC;
}

.modal-widget-container .modal-info .social-icon {
    float: right;
    width: 30px;
}

/* modal */

html {
	 box-sizing: border-box;
}

*, *:before, *:after {
	 box-sizing: inherit;
}

.body-blackout {
    position: fixed;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    display: none;
}

.body-blackout.is-blacked-out {
	 display: block;
}

.popup-trigger {
	 display: inline-block;
}

.popup-modal {
	 opacity: 0;
	 pointer-events: none;
	 transition: all 300ms ease-in-out;
	 z-index: 1011;
}

.popup-modal.is--visible {
	 opacity: 1;
	 pointer-events: auto;
}

.popup-modal__close {
	 position: absolute;
	 font-size: 1.2rem;
	 right: -10px;
	 top: -10px;
	 cursor: pointer;
}


@media only screen and (max-width: 991px) {
    .container .widget-box {
        width: calc(50% - 10px);
    }

    .modal-widget-container {
        flex-direction: column;
    }

    .modal-widget-container .modal-img img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .container .widget-box {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .container .widget-box .box-img img {
        height: 100%;
    }
}